body {
    width: 90%;
    margin 0 auto;
}
#content {overflow: auto;}
#nav, #footer {
    background-color : #efefef;
    padding : 10px;
    margin : 1%;
}
.column1, .column2, .column3, .column4 {
    background-color: #efefef;
    width: 31.3%;
    float: left;
    margin: 1%;
}

.column4{margin-right: 0%}

li {
    display : inline;
    padding : 0.5em 0;;
}